body{
    font-family: Poppins, sans-serif;
}

/* nav{ 
    /* outline: 1px solid orangered; 
     text-align: center;
     padding: 60px;*/


ul{
    /* outline: 1px solid purple; */
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    line-height: 40px;
    /* width: 75%; */
}

li{
    /* outline: 1px solid green; */
    width: 100px;
    display: inline-block;
    text-align: center;
}

a{
    /* outline: 1px solid blue; */
    text-decoration: none;
    display: block;
    color: white;
}

a:hover{
    background-color: gold;
    color: black;
}

.item{
    border:1px dotted red;
}